# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Fiber
*.fib
!/example/*.fib

# IDE
.vscode/*
# Include some settings to ensure consistent layout
!.vscode/settings.json
