# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
*.exp
*.lib
*.pdb

# Fiber
*.fib
!/example/*.fib

# IDE
.vscode/*
# Include some settings to ensure consistent layout
!.vscode/settings.json
# Include debug lauch patterns
!.vscode/launch.json
